.categories-container {
  padding: 10px 50px;
  background-color: rgb(35, 35, 35);
  height: 70vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
